.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( max-width: 767px ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
background-color: hsl(30, 8%, 8%);
background-size: cover;
display: grid;

font-family: 'Inconsolata', monospace;
place-items: center;
}

*{
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
}

.table-color {
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(255,255,255,0.5);
}

.tablehead-color {
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(255,255,255,0.5);
}

.asc-desc {
  font: inherit;
  color: currentColor;
  background-color: white;
}

